

<header class="bg-primary text-white text-center py-3">
    <h1>Hospital Management System</h1>
</header>

<h1 style="text-align:center">Update Medical Test Form</h1>
<br>
<br>
<form #medicalTestForm="ngForm" method="post" class="container col-md-4" (ngSubmit)="updateMedicalTest(medicalTestForm.value)">
  <div class="form-group">
    <label for="testId">Test ID:</label>
    <input type="text" class="form-control" #testIdControl="ngModel" name="testId" required ngModel>
    <span style="color: red;" *ngIf="testIdControl.touched && testIdControl.invalid">Test ID is Mandatory</span>
  </div>

  <div class="form-group">
    <label for="testName">Test Name:</label>
    <input type="text" class="form-control" #testNameControl="ngModel" name="testName" required ngModel>
    <span style="color: red;" *ngIf="testNameControl.touched && testNameControl.invalid">Test Name is Mandatory</span>
  </div>
<br>
  <div class="button-container">
    <button type="submit" class="btn btn-primary" [disabled]="medicalTestForm.invalid">Update Medical Test</button>

  </div>
</form>

<footer class="bg-primary text-center text-white fixed-bottom"> 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://hexaware.com/">Hexaware</a>
  </div>
</footer>

 
